*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}
 /*nav bar start*/
.nav-bar-logo img{
    width: 122px;
    height: 28px;
    border-radius: 0;
}
.navigation{
    max-width: 1280px;
    height: 84px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-bar-items ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 600;
    font-size: 16px;

}
.nav-bar-items ul li{
    margin: 16px;
}
.nav-bar-items ul li a{
    text-decoration: none;
    color: black;
}
.nav-bar-button{
    display: flex;
    margin: 47px;
    width: 173px;
    height: 52px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
}
.nav-bar-button a{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #F58A07;
}
/*nav bar end*/
/* blog start */
.blog-post{
    margin: auto;
    margin-top: 60px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}
.blog-post img{
    width: 1230px;
    border-radius: 20px;
}
.blog-articles{
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member{
    margin-top: 100px;
    margin-left: 270px;
    display: flex;
    align-items: center;
}
.member img{
    width: 32px;
    height: 32px;
}
.member p{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #394149;
}
.member .m-name{
    margin-left: 8px;
}
.member .m-date{
    margin-left: 24px;
}
.post{
    margin-top: 24px;
    width: 752px;
    display: flex;
    flex-direction: column;
}
.post h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    color: #1D3444;
}
.post h2{
    margin-top: 48px;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #0D1317;
}
.post p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
}
/* blog end */
/* footer start */
.footer-bg{
    width: 100vw;
    height: 463px;
    background-color: #063255;
    display: flex;
    flex-direction: column;
    position: relative;
}
.footer-top{
    margin: auto;
    margin-top: 80px;
    width: 1280px;
    height: auto;
    display: flex;
}
.footer-left{
    width: 351px;
}
.footer-left h1{
    margin-top: 32px;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: white;
}
.social-medias{
    margin-top: 32px;
    width: 136px;
    display: flex;
    justify-content: space-between;
}
.fa-facebook {
    width: 20px;
    height: 20px;
    color: white;
    text-decoration: none;
}
.fa-youtube{
    width: 20px;
    height: 20px;
    color: white;
    text-decoration: none;
}
.fa-instagram{
    width: 20px;
    height: 20px;
    color: white;
    text-decoration: none;
}
.fa-twitter{
    width: 20px;
    height: 20px;
    color: white;
    text-decoration: none;
}

.footer-company{
    margin-left: 110px;
    display: flex;
    flex-direction: column;
}
.footer-company h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
}
.fcompany{
    margin-top: 10px;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fcompany a{
    margin-top: 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}
.footer-connect{
    margin-left: 106px;
    display: flex;
    flex-direction: column;
}
.footer-connect h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
}

.fconnect{
    margin-top: 10px;
}
.fconnect p{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}

.footer-subscribe{
    margin-left: 137px;
    display: flex;
    flex-direction: column;
}
.footer-subscribe h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
}
.footer-subscribe input{
    margin-top: 24px;
    width: 342px;
    height: 54px;
    background: white;
    border: none;
    border-radius: 31px;
    padding: 18px 32px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #9C9C9C;
}
.footer-subscribe button{
    margin-top: 16px;
    width: 156px;
    height: 54px;
    background: #F58A07;
    border: none;
    border-radius: 31px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    color: white;
}
.shape-left{
    width: 53px;
    height: 144px;
    background-color: #F58A07;
    border-radius: 0 0 0 20px;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    bottom: 0;
}
.shape-right{
    width: 53px;
    height: 287px;
    background-color: #F58A07;
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 38px;
    right: 0;
}
.footer-bottom-texts{
    margin: auto;
    margin-bottom: 80px;
    width: 1280px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-texts p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}
.footer-bottom-texts a{
    margin-left: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}
/* footer end */